---
AlwaysBreakTemplateDeclarations: 'true'
AccessModifierOffset: -1
BreakConstructorInitializersBeforeComma: 'true'
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '4'
Cpp11BracedListStyle: 'true'
IndentWidth: '2'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
PenaltyReturnTypeOnItsOwnLine: '0'
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [friend, static, constexpr, inline, type, const, volatile, restrict]
Standard: c++20
UseTab: Never

...
