[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "tools"]
	path = tools
	url = https://github.com/tamatebako/macos-cross-compile
