/@*
/*.*fs
/tmp/
/build*/
/man/*.1
/man/*.1.html
*.log
/.gdb_history
/include/dwarfs/version.h
/src/dwarfs/version.cpp

# VS build environment
.vs/
.vscode/
out/
CMakeSettings.json
jemalloc/

# More build artifacts
arm-homebrew/
deps/
*.old
